

@font-face {
    font-family: "primary-font";
    src: url(../fonts/DINAlternateBold.ttf);
  }

  

@font-face {
  font-family: "secondary-font";
  src: url(../fonts/LeagueSpartan-Bold.otf);
}