@import "reset";




.viewport {
    perspective: 2000px;
    overflow: hidden;
}

.clouds-world {
    transform-style: preserve-3d;


    div {
        transform-style: preserve-3d;
    }

    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.clouds-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 20%;
    top: 25%;
    width: 60%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    overflow: visible;

}

.cloud-base {

    position: relative;
    width: 20%;

    overflow: visible;
    z-index: 10;
    //background: rgba(#000, 1);

    &:nth-child(2n) {
        //  background: rgba(#eee, 1);
    }
}

.logo-wrapper {
    position: absolute;
    top: 22%;
    left: 15%;
    z-index: 10;
    height: auto;
    width: 25%;

    img {
        width: 100%;
    }
}

.cloud-logo-wrapper {
    transform: translateZ(500px) scale(0.75);
}






@keyframes cloudRotation {

    0% {
        transform: translateX(0) translateY(20px);
    }

    50% {
        transform: translateX(100px) translateY(0px);
    }

    100% {
        transform: translateX(200px) translateY(-20px);
    }
}

.cloud-layer-wrapper {
    position: relative;
    animation: cloudRotation 1s infinite alternate-reverse linear;
}

.cloud-layer {

    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    padding-bottom: 200%;
    background-size: cover;
    transform-origin: 50% 50%;
    //background-color:rgba(0 , 0 , 255 , 0.5); 

}


/*Landing Page*/
.airport {

    width: 100%;
    //min-height: 100vh;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 1;
    transform-origin: 50% 50%;
    transform: scale(0.6) translateZ(100px);
    //background-color: #C7C1B7;

    .airport-background-wrapper {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;

        img {
            width: 100%;

        }
    }


}

.clouds-scene {
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;

    svg {
        width: 100%;
        height: 100%;
    }

    img {
        position: absolute;
    }

    .window {
        min-height: 100%;
        min-width: 100%;
        width: 100%;
        @extend .centered-absolute;
    }
}

.header-info {
    position: absolute;
    top: 0;
    left: 0;
}

/* Airplane */
.airport-airplane {


    position: absolute;
    left: 65.56%;
    top: 39.1%;
    width: 10%;

    img {
        width: 100%;

    }

    //transform: translateZ(100px) scale(0.75);
    z-index: 150;

    transform:scale(0.6) translateZ(100px);
}

#airplane {
    display: none;
    background: violet;
}

#airport-airplane {
    background: darkcyan;
}

#truck-airplane {
    background: tomato;
    top: 55.5%;
    left: 311px;
}

.airplane-wrapper {
    position: absolute;

    left: 1040.07px;
    top: 295.44px;
    width: 10%;
    display: block;

    img {
        width: 100%;

    }

    //transform: translateZ(100px) scale(0.75);
    z-index: 150;
}



/* Services */


/* truck scene */
.truck-wrapper {
    position: absolute;
    width: 10%;

    img {
        width: 100%;
    }

    top:50%;
    left:80%;

}