@import "reset";
@import "fonts";
// vars 

$primary-color:#cda868;
$black-color:#333;
$gray-color:#7c8385;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black-color;
}

body {
    color: #777777;
    background: #e7e7e7 !important;
    font-family: "primary-font", helvetica, arial !important;

}

html {
    font-size: 20px !important;
}

.title {
    font-weight: lighter;
}

.primary-anchor {
    background: rgba(207, 168, 101, 1);
    background: linear-gradient(90deg, rgba(207, 168, 101, 1) 31%, rgba(187, 140, 62, 1) 100%);
    padding: 13px 25px;
    font-size: 0.9rem;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.box-shadow {
    box-shadow: 8px 15px 20px 3px rgba(#333, .14), -8px -15px 20px 3px rgba(#333, .14);
}

.highlight {
    position: relative;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        width: 110%;
        background: $primary-color;
        height: 50%;
        top: 50%;
        left: -5%;
        z-index: -1;
    }
}

.viewport {
    perspective: 2000px;
    overflow: hidden;
}

.clouds-world-wrapper {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;


}

.clouds-world {
    transform-style: preserve-3d;


    div {
        transform-style: preserve-3d;
    }

    height: 100%;
    width:100%;
}

.clouds-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 20%;
    top: 25%;
    width: 60%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    overflow: visible;

}

.cloud-base {

    position: relative;
    width: 20%;

    overflow: visible;
    z-index: 10;
}

.logo-wrapper {
    position: absolute;
    top: 22%;
    left: 15%;
    z-index: 20;
    height: auto;
    width: 30%;

    img {
        width: 100%;
    }
}

.cloud-logo-wrapper {
    transform: translateZ(500px) scale(0.75);
}






@keyframes cloudRotation {

    0% {
        transform: translateX(0) translateY(20px);
    }

    50% {
        transform: translateX(100px) translateY(0px);
    }

    100% {
        transform: translateX(200px) translateY(-20px);
    }
}

.cloud-layer-wrapper {
    position: relative;
    animation: cloudRotation 1s infinite alternate-reverse linear;
    // transform:translateZ(0px); 
}

.cloud-layer {

    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    padding-bottom: 200%;
    background-size: cover;
    transform-origin: 50% 50%;
    //background-color:rgba(0 , 0 , 255 , 0.5); 

}


/*Landing Page*/
.airport {

    width: 100%;
    //min-height: 100vh;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 1;
    transform-origin: 60% 100%;
    transform: scale(0.6) translateZ(100px);
    //background-color: #C7C1B7;

    .airport-background-wrapper {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 60%;

        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }


}

.clouds-scene {
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;

    svg {
        width: 100%;
        height: 100%;
    }

    img {
        position: absolute;
    }

    .window {
        min-height: 100%;
        min-width: 100%;
        width: 100%;
        @extend .centered-absolute;
    }
}


.header {
    z-index: 5;
}



.main-plane-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 16.6%;
    display: block;

    img {
        width: 100%;
    }

    z-index: 8;
    overflow: visible;
}




/* Services */


/* truck scene */
.truck-wrapper {
    position: absolute;
    width: 10%;

    img {
        width: 100%;
        transform: scaleX(-1);
    }

    top:40%;
    left:10%;

}

/*footer*/
.footer {
    background: #3F3E3D;
    padding: 10px;
    padding-top: 50px;

    padding-bottom: 80px;

    h5 {
        color: #fff;
    }

    .copyright {
        color: #fff;
        font-size: 1rem;
    }

    ul {
        margin: 0;
        padding: 0;
        color: #777777;
        list-style: none;
        font-size: 0.9rem;
        padding-left: 5px;
    }
}

.card {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: none !important;
    text-align: center;

    p,
    h3,
    .icon-card {
        margin-top: 15px;
    }

    .icon-card {
        font-size: 2.0rem;
        color: #46DBF9;
    }

    h3 {
        color: #46DBF9;
    }
}


.section.planning {
    margin-top: 200px;
}

// loader 
.loader {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    z-index: 20;
    transition: all 1s;

    img {
        position: absolute;
        width: 30%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

body.loading .loader {
    top: 0 !important;
}

/* airfield */

.airfield-description {
    padding: 20px;

    .description {
        padding-left: 40px;
        padding-top: 10px;
        width: 40%;
    }
}

.planes-container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;

    .plane-location {
        position: relative;
    }

    .plane-1-location {

        width: 24vw;

        .background {
            background-image: url("../imgs/spot1.svg");
            background-size: contain;
            overflow: visible;
            background-repeat: no-repeat;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

        &:hover {
            &::after {
                //    opacity: 1;
            }
        }
    }


    .plane-2-location {
        flex-grow: 2;

        .background {
            background-image: url("../imgs/spot2.svg");
            background-size: contain;
            background-position: 0 100%;
            overflow: visible;
            background-repeat: no-repeat;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

        overflow: visible;
        width: 16.6vw;
    }

    .plane-wrapper {
        width: 100%;

        img {
            width: 100%;
        }

        z-index: 2;
        position: relative;
    }

    .plane-word {
        font-family: 'secondary-font'; 
        font-size: 3rem;
        position: absolute;
        bottom: -4%;
        width: 100%;
        text-align: center;
        z-index: 1;
        color: rgba($black-color, 0.7);
    }

}


.client {
    margin-top: 25px;

    img {
        width: 100%;
    }
}

.antonov-details {
    position: relative;
    margin-top: 30%;
    overflow: hidden;

    .antonov-title {
        font-family: 'secondary-font'; 
        font-size: 3.7rem;
        color: rgba($black-color, 0.3);
        width: 116%;

    }

    .title,
    .description {
        padding-left: 100px;
        margin-top: 30px;

    }

    .description {
        margin-top: 30px;
    }

}

.antonov {
    .runway {
        transform: translateX(-200%);
    }

    .details-column {
        z-index: 2;
        overflow: visible;
    }

    .runway-column {
        z-index: 1;
    }
}

section.airfield {
    //margin-top: 35%;
}


// service 

.service-details-column {
    background: #fff;
    align-self: stretch;
    padding:2rem !important;
}

.serivce-details {

    .mini-title,
    .description {
        color: $gray-color;
    }
}


section.service {
    margin-bottom: 150px;
    margin-top:50vh;
}

html {
    overflow: hidden;
}





.service-0 {
    .service-column-1 {
        //transform: translateX(80%);
        
        background-image: url("../imgs/clocks-background.jpg"); 
        background-size:contain; 
        background-repeat: no-repeat;
        transform: translate(15%, 0%)  translateZ(30px )  scale(0.7);
        z-index:10;

    }

    .service-column-2 {
        transform: translateZ(-30px) translateX(-15%) translateY(0%) scale(1.3);
        padding-right:1rem;
        .serivce-details{
            padding-left:28% !important;
        }
    }
    .clock-1{
        transform:rotate(-15deg) translate(-20%, -30%) scale(1.1);

    }
    .clock-2{
        transform:rotate(15deg);
    }
    


}

.service-1 {
    .service-column-1 {
        transform: translateX(80%);
    }

    .service-column-2 {
        transform: translateZ(30px) translateX(22%) translateY(-10%) scale(0.7);
    }

    .service-column-3 {
        position: relative;       
        transform: translateZ(50px) translateX(-25%) translateY(0%) scale(0.5);
    }
}

.service-2 {
    margin-top:200px !important;
    .service-column-1 {
        transform: translate(150%, 5%)  translateZ(30px )  scale(0.7);
        z-index: 5;
    }

    .service-column-2 {
        z-index: 4;

    }

    .service-column-3 {
        transform: translate(14%, 0%)  translateZ(-30px )  scale(1.3);
    }
}



.service-3 {
    margin-top:200px !important;
    .service-column-1 {
        transform: translateY(0%) translateX(120%);
    }

    .service-column-2 {
        transform: translateZ(30px) translateX(22%) translateY(-5%) scale(0.7);

        

        .serivce-details {
            padding-right: 20%;

        }
    }

    .service-column-3 {
        margin-top: 10%;
        transform: translateZ(50px) translateX(-50%) translateY(0%) scale(0.7);


    }
}

.parallax-perspective {
    perspective: 100px;
}


.antonov-wrapper {
    width: 47vw;
    position: absolute;
    top: 8%;
    left: -12%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    transform: translateY(50%) translateZ(0px);
}

.antonov-clouds {
    position: relative;
    top: 100%;
    left: 0;
    overflow: visible;

    img {
        width: 100%;

        &:nth-child(1) {
            transform: translateZ(-25px) scale(1.25) translateY(20%);
        }

        &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleX(-1) translateZ(25px) scale(0.75) translateY(-15%);
        }

        &:nth-child(3) {
            position: absolute;
            top: -50%;
            left: 0;
            transform: translateZ(50px) scale(0.5);
            display: none;
        }
    }

    z-index: 10;

}

.arrow-path {
    position: absolute;
    width: 2px;
    background: rgba($primary-color, 1);
    top: 0;
    left: 0;
    height: 100vh;
    border-radius: 5px;

    img {
        position: absolute;
        top: 80%;
        width: 20px;
        left: -9px;

    }


}

.service-1 {
    .arrow-path {
        left: 10%;
        top: -50%;
    }
}



.service-2 {
   

    .arrow-path {
        height: 60vh;
        right: 10%;
        left: unset;
        top: -110%;
    }
}
.service-3 {
   

    .arrow-path {
        height: 50vh;
        right: 15%;
        left: unset;
        top: 10%;
        display: none;
    }
}